a {
  color1 : 10, 20;
  color2 : 10* 20;
  color3 : 10 *expression(20,30);
  color4 : 1px solid gray;
  color5 : 10+20 *30 -40/50;
  color6 : (10+20) * (30-40)/50;
  color7 : -20;
  color8 : -20*30;
  color9 : -20*30;
  color10 : 20 -+10;
  color11 : 1px solid gray, 10px * 40em;
}
